# 作業： 使用 Python 操作 MongoDB

# [作業目標]
* 能夠使用 Python 對 MongoDB 的資料進行增刪改查操作。
* 使用 Robo 3T 工具查看資料。

# [作業重點]
* 執行程式前，MongoDB Server 記得要先開啟。
* 若 DB、Collection 原本不存在，則直到有第一筆資料 insert 進去，才會真的建立 DB 及 Collection

# 作業1
* 建立 DB 及 Collection (名稱自訂)，使用 Python 取得連線。

In [1]:
from pymongo import MongoClient
client = MongoClient(host="127.0.0.1", port=27017)
db = client["test"]
collection = db["Member"]

# 作業2
* 使用 Python 操作 Mongo 中的資料。

In [4]:
data = {"name":"Tony","phone":"09111111111","email":"dkw@maiil.com"}
result = collection.insert_one(data)

In [5]:
result.inserted_id

ObjectId('5ff12773ca8a02284a21fdbf')

In [6]:
data_many = [{"name":"Tm","phone":"0922222222","email":"123@maiil.com"},
            {"name":"Jrry","phone":"0933333333","email":"456@maiil.com"},
            {"name":"ary","phone":"09444444444","email":"789@maiil.com"}]

In [7]:
result = collection.insert_many(data_many)

In [8]:
result.inserted_ids

[ObjectId('5ff127abca8a02284a21fdc0'),
 ObjectId('5ff127abca8a02284a21fdc1'),
 ObjectId('5ff127abca8a02284a21fdc2')]

In [9]:
collection.count_documents({})

4

In [10]:
collection.delete_one({"name":"Jrry"})

In [11]:
collection.count_documents({})

3

In [12]:
filters = {"name": "ary"}
update = {"$set":{"name":"Mary"}}

In [13]:
collection.update_one(filters,update)

In [18]:
collection.find_one({"name":"Mary"})

{'_id': ObjectId('5ff127abca8a02284a21fdc2'),
 'name': 'Mary',
 'phone': '09444444444',
 'email': '789@maiil.com'}

In [19]:
for x in collection.find():
    print(x)

{'_id': ObjectId('5ff12773ca8a02284a21fdbf'), 'name': 'Tony', 'phone': '09111111111', 'email': 'dkw@maiil.com'}
{'_id': ObjectId('5ff127abca8a02284a21fdc0'), 'name': 'Tm', 'phone': '0922222222', 'email': '123@maiil.com'}
{'_id': ObjectId('5ff127abca8a02284a21fdc2'), 'name': 'Mary', 'phone': '09444444444', 'email': '789@maiil.com'}

In [35]:
for x in collection.find().sort("name",-1):
    print(x)

{'_id': ObjectId('5ff12773ca8a02284a21fdbf'), 'name': 'Tony', 'phone': '09111111111', 'email': 'dkw@maiil.com'}
{'_id': ObjectId('5ff127abca8a02284a21fdc0'), 'name': 'Tm', 'phone': '0922222222', 'email': '123@maiil.com'}
{'_id': ObjectId('5ff127abca8a02284a21fdc2'), 'name': 'Mary', 'phone': '09444444444', 'email': '789@maiil.com'}

In [32]:
for x in collection.find().limit(2):
    print(x)

{'_id': ObjectId('5ff12773ca8a02284a21fdbf'), 'name': 'Tony', 'phone': '09111111111', 'email': 'dkw@maiil.com'}
{'_id': ObjectId('5ff127abca8a02284a21fdc0'), 'name': 'Tm', 'phone': '0922222222', 'email': '123@maiil.com'}